url	name	description
https://habr.com/ru/rss/news/?fl=ru	Habr.Com	«Хабр» - русскоязычный веб-сайт в формате системы тематических коллективных блогов с элементами новостного сайта, созданный для публикации новостей, аналитических статей, мыслей, связанных с информационными технологиями, бизнесом и интернетом.
https://3dnews.ru/news/rss/	3DNews.Ru	3DNews Daily Digital Digest («3ДНьюс») — российское онлайн-издание, посвящённое цифровым технологиям.
